


ul {
  list-style: none;
}

/* Portfolio Hero Section */
.portfolio-hero {
  background-image: url(../CSS/Image/heroport.jpg);
  background-size: cover;
  background-position: center;
  color: #983c14;
  text-align: center;
  padding: 100px 20px;
  transition: transform 0.5s ease;
  transform: translateY(0); /* Assuming the final state should be translateY(0) */
}

/* Portfolio Section */
.portfolio {
  margin: 10px 60px;
  position: relative;
  padding: 20px;
  background-color: #d9d9d9;
}

.portfolio:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #983c14, #983c14) 20;
  border-image-slice: 1;
  pointer-events: none;
  z-index: -1;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.port-item {
  width: calc(25% - 20px); /* 25% width with 20px spacing */
  margin: 10px; /* Spacing between items */
  overflow: hidden;
  transition: transform 0.3s ease;
}

.port-item:hover {
  transform: scale(1.05);
}

.portfolio img {
  width: 100%;
  object-fit: cover;
}

/* Testimonials Section */
.testimonials {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.testimonial {
  text-align: center;
  width: 23%;
  border: 3px double rgba(75, 122, 132, 255);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  padding: 10px;
  border-radius: 20%;
  margin: 5px 0;
}

.testimonial p {
  text-align: center;
}

/* Uncommented and combined h4 styles */
.testimonial p, h4 {
  font-family: "Arial", sans-serif;
  color: #983c14;
}

.client-photo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.testi h2 {
  color: #983c14;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
}

/* Call to Action Section */
.cta-container {
  text-align: center;
  margin-top: 50px;
  color: #983c14;
  font-size: 25px;
  background-image: url(../CSS/Image/CTA.png);
  padding: 20px 0;
  position: absolute; /* Changed to position */
  top: 0;
  left: 0;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #983c14;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #d9d9d9;
  color: #983c14;
}
