@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*  background-color: #d9d9d9;  */
}

.contact {
  background-image: url("../Image/header_2_img-1-scaled.png");
  position: relative;
  min-height: 100vh;
  padding: 135px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #983c14;
}

.contact .content p {
  font-weight: 300;
  color: #983c14;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: rgb(255, 245, 245, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo.box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #983c14;
}

.contactForm {
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* border: 1px  #983c14; */
}

.contactForm h2 {
  font-size: 30px;

  font-weight: 500;
}

.container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #983c14;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
  color: black;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #983c14;

  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contact h2:nth-of-type(2) {
  text-align: center;
  margin-top: 30px;
}

.contact details {
  margin-top: 20px;
  text-align: center;
  padding-left: 20px;
}

.contact details summary {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact details p {
  margin-left: 20px;
  color: honeydew;
}

.contact p1,
p2:last-child {
  color: honeydew;
}

.contact h2 {
  color: #983c14;
}



@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }

  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}
